$flaticon_edubin-font: "flaticon_edubin";

@font-face {
    font-family: $flaticon_edubin-font;
    src: url("./flaticon_edubin.woff2?4221174225c6250990d515844f71a0ab") format("woff2"),
url("./flaticon_edubin.woff?4221174225c6250990d515844f71a0ab") format("woff"),
url("./flaticon_edubin.eot?4221174225c6250990d515844f71a0ab#iefix") format("embedded-opentype"),
url("./flaticon_edubin.ttf?4221174225c6250990d515844f71a0ab") format("truetype"),
url("./flaticon_edubin.svg?4221174225c6250990d515844f71a0ab#flaticon_edubin") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_edubin !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_edubin-map: (
    "facebook-logo": "\f101",
    "slack": "\f102",
    "instagram": "\f103",
    "skype": "\f104",
    "dribbble-logo": "\f105",
    "whatsapp": "\f106",
    "medium": "\f107",
    "wordpress": "\f108",
    "twitter": "\f109",
    "twitter-1": "\f10a",
    "linkedin": "\f10b",
    "telegram": "\f10c",
    "viber": "\f10d",
    "vk": "\f10e",
    "pinterest": "\f10f",
    "tumblr": "\f110",
    "soundcloud": "\f111",
    "snapchat": "\f112",
    "behance": "\f113",
    "vimeo": "\f114",
    "messenger": "\f115",
    "line": "\f116",
    "social": "\f117",
    "github": "\f118",
    "stack-overflow": "\f119",
    "tik-tok": "\f11a",
    "youtube": "\f11b",
    "reload": "\f11c",
    "locked-computer": "\f11d",
    "menu": "\f11e",
    "menu-1": "\f11f",
    "funnel": "\f120",
    "price-tag": "\f121",
    "network": "\f122",
    "checklist": "\f123",
    "award": "\f124",
    "student": "\f125",
    "users": "\f126",
    "user": "\f127",
    "shopping-cart": "\f128",
    "magnifying-glass": "\f129",
    "link": "\f12a",
    "time": "\f12b",
    "start": "\f12c",
    "alarm-clock": "\f12d",
    "location": "\f12e",
    "organization": "\f12f",
    "worldwide": "\f130",
    "calendar": "\f131",
    "chat": "\f132",
    "tags": "\f133",
    "folder": "\f134",
    "document": "\f135",
    "back": "\f136",
    "message": "\f137",
    "load": "\f138",
    "heart": "\f139",
    "book": "\f13a",
    "share": "\f13b",
    "quote": "\f13c",
    "pin": "\f13d",
    "cancel": "\f13e",
    "back-1": "\f13f",
    "next": "\f140",
    "upload": "\f141",
    "download": "\f142",
    "right-arrow": "\f143",
    "left-arrow": "\f144",
    "plus": "\f145",
    "view": "\f146",
    "check-mark": "\f147",
    "study": "\f148",
    "play-button": "\f149",
    "play-button-1": "\f14a",
    "star": "\f14b",
    "phone-call": "\f14c",
    "shopping-cart-1": "\f14d",
    "cursor": "\f14e",
    "search": "\f14f",
    "user-1": "\f150",
    "tickets": "\f151",
);

.flaticon-facebook-logo:before {
    content: map-get($flaticon_edubin-map, "facebook-logo");
}
.flaticon-slack:before {
    content: map-get($flaticon_edubin-map, "slack");
}
.flaticon-instagram:before {
    content: map-get($flaticon_edubin-map, "instagram");
}
.flaticon-skype:before {
    content: map-get($flaticon_edubin-map, "skype");
}
.flaticon-dribbble-logo:before {
    content: map-get($flaticon_edubin-map, "dribbble-logo");
}
.flaticon-whatsapp:before {
    content: map-get($flaticon_edubin-map, "whatsapp");
}
.flaticon-medium:before {
    content: map-get($flaticon_edubin-map, "medium");
}
.flaticon-wordpress:before {
    content: map-get($flaticon_edubin-map, "wordpress");
}
.flaticon-twitter:before {
    content: map-get($flaticon_edubin-map, "twitter");
}
.flaticon-twitter-1:before {
    content: map-get($flaticon_edubin-map, "twitter-1");
}
.flaticon-linkedin:before {
    content: map-get($flaticon_edubin-map, "linkedin");
}
.flaticon-telegram:before {
    content: map-get($flaticon_edubin-map, "telegram");
}
.flaticon-viber:before {
    content: map-get($flaticon_edubin-map, "viber");
}
.flaticon-vk:before {
    content: map-get($flaticon_edubin-map, "vk");
}
.flaticon-pinterest:before {
    content: map-get($flaticon_edubin-map, "pinterest");
}
.flaticon-tumblr:before {
    content: map-get($flaticon_edubin-map, "tumblr");
}
.flaticon-soundcloud:before {
    content: map-get($flaticon_edubin-map, "soundcloud");
}
.flaticon-snapchat:before {
    content: map-get($flaticon_edubin-map, "snapchat");
}
.flaticon-behance:before {
    content: map-get($flaticon_edubin-map, "behance");
}
.flaticon-vimeo:before {
    content: map-get($flaticon_edubin-map, "vimeo");
}
.flaticon-messenger:before {
    content: map-get($flaticon_edubin-map, "messenger");
}
.flaticon-line:before {
    content: map-get($flaticon_edubin-map, "line");
}
.flaticon-social:before {
    content: map-get($flaticon_edubin-map, "social");
}
.flaticon-github:before {
    content: map-get($flaticon_edubin-map, "github");
}
.flaticon-stack-overflow:before {
    content: map-get($flaticon_edubin-map, "stack-overflow");
}
.flaticon-tik-tok:before {
    content: map-get($flaticon_edubin-map, "tik-tok");
}
.flaticon-youtube:before {
    content: map-get($flaticon_edubin-map, "youtube");
}
.flaticon-reload:before {
    content: map-get($flaticon_edubin-map, "reload");
}
.flaticon-locked-computer:before {
    content: map-get($flaticon_edubin-map, "locked-computer");
}
.flaticon-menu:before {
    content: map-get($flaticon_edubin-map, "menu");
}
.flaticon-menu-1:before {
    content: map-get($flaticon_edubin-map, "menu-1");
}
.flaticon-funnel:before {
    content: map-get($flaticon_edubin-map, "funnel");
}
.flaticon-price-tag:before {
    content: map-get($flaticon_edubin-map, "price-tag");
}
.flaticon-network:before {
    content: map-get($flaticon_edubin-map, "network");
}
.flaticon-checklist:before {
    content: map-get($flaticon_edubin-map, "checklist");
}
.flaticon-award:before {
    content: map-get($flaticon_edubin-map, "award");
}
.flaticon-student:before {
    content: map-get($flaticon_edubin-map, "student");
}
.flaticon-users:before {
    content: map-get($flaticon_edubin-map, "users");
}
.flaticon-user:before {
    content: map-get($flaticon_edubin-map, "user");
}
.flaticon-shopping-cart:before {
    content: map-get($flaticon_edubin-map, "shopping-cart");
}
.flaticon-magnifying-glass:before {
    content: map-get($flaticon_edubin-map, "magnifying-glass");
}
.flaticon-link:before {
    content: map-get($flaticon_edubin-map, "link");
}
.flaticon-time:before {
    content: map-get($flaticon_edubin-map, "time");
}
.flaticon-start:before {
    content: map-get($flaticon_edubin-map, "start");
}
.flaticon-alarm-clock:before {
    content: map-get($flaticon_edubin-map, "alarm-clock");
}
.flaticon-location:before {
    content: map-get($flaticon_edubin-map, "location");
}
.flaticon-organization:before {
    content: map-get($flaticon_edubin-map, "organization");
}
.flaticon-worldwide:before {
    content: map-get($flaticon_edubin-map, "worldwide");
}
.flaticon-calendar:before {
    content: map-get($flaticon_edubin-map, "calendar");
}
.flaticon-chat:before {
    content: map-get($flaticon_edubin-map, "chat");
}
.flaticon-tags:before {
    content: map-get($flaticon_edubin-map, "tags");
}
.flaticon-folder:before {
    content: map-get($flaticon_edubin-map, "folder");
}
.flaticon-document:before {
    content: map-get($flaticon_edubin-map, "document");
}
.flaticon-back:before {
    content: map-get($flaticon_edubin-map, "back");
}
.flaticon-message:before {
    content: map-get($flaticon_edubin-map, "message");
}
.flaticon-load:before {
    content: map-get($flaticon_edubin-map, "load");
}
.flaticon-heart:before {
    content: map-get($flaticon_edubin-map, "heart");
}
.flaticon-book:before {
    content: map-get($flaticon_edubin-map, "book");
}
.flaticon-share:before {
    content: map-get($flaticon_edubin-map, "share");
}
.flaticon-quote:before {
    content: map-get($flaticon_edubin-map, "quote");
}
.flaticon-pin:before {
    content: map-get($flaticon_edubin-map, "pin");
}
.flaticon-cancel:before {
    content: map-get($flaticon_edubin-map, "cancel");
}
.flaticon-back-1:before {
    content: map-get($flaticon_edubin-map, "back-1");
}
.flaticon-next:before {
    content: map-get($flaticon_edubin-map, "next");
}
.flaticon-upload:before {
    content: map-get($flaticon_edubin-map, "upload");
}
.flaticon-download:before {
    content: map-get($flaticon_edubin-map, "download");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon_edubin-map, "right-arrow");
}
.flaticon-left-arrow:before {
    content: map-get($flaticon_edubin-map, "left-arrow");
}
.flaticon-plus:before {
    content: map-get($flaticon_edubin-map, "plus");
}
.flaticon-view:before {
    content: map-get($flaticon_edubin-map, "view");
}
.flaticon-check-mark:before {
    content: map-get($flaticon_edubin-map, "check-mark");
}
.flaticon-study:before {
    content: map-get($flaticon_edubin-map, "study");
}
.flaticon-play-button:before {
    content: map-get($flaticon_edubin-map, "play-button");
}
.flaticon-play-button-1:before {
    content: map-get($flaticon_edubin-map, "play-button-1");
}
.flaticon-star:before {
    content: map-get($flaticon_edubin-map, "star");
}
.flaticon-phone-call:before {
    content: map-get($flaticon_edubin-map, "phone-call");
}
.flaticon-shopping-cart-1:before {
    content: map-get($flaticon_edubin-map, "shopping-cart-1");
}
.flaticon-cursor:before {
    content: map-get($flaticon_edubin-map, "cursor");
}
.flaticon-search:before {
    content: map-get($flaticon_edubin-map, "search");
}
.flaticon-user-1:before {
    content: map-get($flaticon_edubin-map, "user-1");
}
.flaticon-tickets:before {
    content: map-get($flaticon_edubin-map, "tickets");
}
